name: cog-kodict

on:
  push:
    paths:
      - 'kodict/**'

jobs:
  build-dpy:
    uses: coffeebank/coffee-cogs/.github/workflows/build-dpy.yml@docs/dpy
    with:
      COG_NAME: kodict
    secrets:
      GH_PAT: ${{ secrets.GH_PAT }}
